{% extends "layout.html" %}
{% block content %}
    <h3>500</h3>
    <div id="inner">
        <div id="skull">
    <pre>
   _                   _
 _( )                 ( )_
(_, |      __ __      | ,_)
   \'\    /  ^  \    /'/
    '\'\,/\      \,/'/'
      '\| []   [] |/'
        (_  /^\  _)
          \  ~  /
          /HHHHH\
        /'/{^^^}\'\
    _,/'/'  ^^^  '\'\,_
   (_, |           | ,_)
     (_)           (_)
        </pre>
        </div>
    </div>
    <p class="error">A fatal error occured!</p>
{% endblock %}